

@media (max-width: 700px) {
  .navbar-scroll {
    background-color: rgb(255, 254, 254);
  }
     
  .navbar-scroll .navbar-brand,
  .navbar-scroll .nav-link,
  .navbar-scroll .fa-bars {
    color: #4f4f4f !important;
  }         
}

.navbar-brand {
  letter-spacing: 3px;
  font-size: 2rem;
  font-weight: 500;
}
.navbar-scroll .navbar-brand,
.navbar-scroll .nav-link,
.navbar-scroll .fa-bars {
  color: #fff;
}




.display-1 {
  font-weight: 600 !important;
  letter-spacing: 10px;
}

.col-12{

 background: rgba(0, 0, 0, 0.622);
 opacity: 100%;
 border-radius: 100px;
 margin-top: 50px;
}

.row{
  background: rgba(0, 0, 0, 0.329);
 opacity: 200%;
 border-radius: 150px;
}
.bg-image{
  background-repeat: no-repeat;
  background-size: cover;
}