
.carousel-inner img {
  margin: 25px;
  
}
.nav-item{
  margin-left: 25px;
}

  .gradient-custom-4 {
  background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))
  }

  .col mb-4{
    height: 10px;;
  }
  
  .bg {

    background-image: url("https://mdbootstrap.com/img/Photos/Others/background.webp");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background: -webkit-linear-gradient(45deg, rgba(15, 213, 121, 0.911), rgba(2, 5, 172, 0.839) 100%);
  }
    
  
  html { 
 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size:cover;
  }

.bg-image{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 90%;
}
.col-md, .points{
  position: relative;
  font-style: bold;
  background: rgba(0, 0, 0, 0.422); 
  color: rgb(239, 243, 243);
}
h1{
  text-align: center;
}
.logo-home{
  margin-left: 50%;
}

.product-bg{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 90%;
}
.checkout-bg{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 90%;
}
